*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.text-grey{
  color:grey;
}

.text-white{
  color:white;
}

a{
  text-decoration: none;
}

.marginb-20{
  margin-bottom: 20px;
}

.hover:hover{
  color: white;
  font-weight: bold;
}
/* ************regole di debug ******************/

#navbar{
  min-height: 600px;
  width: 15%;
}

#parte-centrale{
  background-color: blue;
  min-height: 600px;
  flex-grow: 1;
}

#parte-centrale #upgrade{
  background-color: black;
  min-height: 100px;
}

#parte-centrale #menu-secondario{
  background-color: green;
  min-height: 100px;
}

#parte-centrale #albums{
  background-color: yellow;
  min-height: 400px;
}


#player{
  /* position: fixed ;
  bottom: 0;
  left: 0; */
  background-color: grey;
  min-height: 50px;
  z-index: 300;
  width: 100%;
}

/************* debug navbar************/

#playlist{
  border: solid  white 1px;
}

/* ***********fine debug************************* */

#main-section{
  display: flex;
}

/************ navbar sinistra************ */

#navbar{
  background-color: #030303;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#logo img{
  max-height: 40px;
  margin-bottom: 20px;
}

#menu{
  font-size: 14px;
}

#menu img{
  max-height: 20px;
  max-width: 20px;
  margin-right: 10px;
}

#playlist{
  flex-grow: 1;
}

#playlist h4{
  margin-bottom: 10px;
  font-size: 14px;
}

#playlist>a>i{
  font-size: 30px;
  padding-right: 10px;
}

#playlist>a{
  font-size: 15px;
}

#playlist ul{
  margin-top: 10px;
  font-size: 14px;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 15px;
}

#profilo{
  border-top: solid grey 1px;
  padding-top: 10px;
}
#profilo img{
  max-height: 20px;
  max-width: 20px;
  background-color: grey;
  border-radius: 20px;
  margin-right: 10px;
}

/* *************fine navbar sinistra************* */

/************ inizio parte centrale ***********/
