*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.text-grey{
  color:grey;
}

.text-white{
  color:white;
}

a{
  text-decoration: none;
}

.marginb-20{
  margin-bottom: 20px;
}

.hover:hover{
  color: white;
  font-weight: bold;
}
/* ************regole di debug ******************/

#parte-centrale #contenitore-albums{
  border: solid white 1px;
}

#playlist{
  border: solid  white 1px;
}

/* ***********fine debug************************* */

/**************** inizio main ************/
#main-section{
  display: flex;
  height: calc(100vh - 120px);
}

/************ navbar sinistra************ */

#navbar{
  background-color: #030303;
  width: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

#bloccosopra{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#logo img{
  max-height: 40px;
  margin-bottom: 20px;
}

#menu{
  font-size: 14px;
}

#menu img{
  max-height: 20px;
  max-width: 20px;
  margin-right: 10px;
}

#playlist{
  flex-grow: 1;
}

#playlist h4{
  margin-bottom: 10px;
  font-size: 14px;
}

#playlist>a>i{
  font-size: 30px;
  padding-right: 10px;
}

#lista-playlist{
  overflow: scroll;
}
#playlist li{
  font-size: 14px;
  padding-top: 10px;
}

#playlist ul{
  margin-top: 10px;
  font-size: 14px;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 15px;
}

#download{
  padding: 10px;
}

#download i{
  padding-right: 10px;
}

#profilo{
  border-top: solid grey 1px;
  padding-top: 10px;
  padding-left: 10px;
}

#profilo img{
  max-height: 20px;
  max-width: 20px;
  background-color: grey;
  border-radius: 20px;
  margin-right: 10px;
}

/* *************fine navbar sinistra************* */

/************ inizio parte centrale ***********/

#parte-centrale{
  background-color: #141922;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/**** upgrade**** */
#upgrade{
  background-color: #080b12;
  min-height: 50px;
  position: fixed;
  width: 85%;
  left:15%;
  top:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 900;
}

#upgrade button {
  padding:10px;
  border-radius: 20px;
  background-color: inherit;
  border: solid white 1px;
  font-size: 10px;
  transition: 1s;
  margin-right: 15px;
}

#upgrade button:hover{
  transform: scale(1.1);
}
/* ******************** */
#menu-secondario{
  padding-top: 60px;
  text-align: center;
}
#menu-secondario li{
  display: inline-block;
  font-size: 12px;
  padding-right: 10px;
}

/* ***************** */

/*** albums rows***** */

#contenitore-albums{
  flex-grow: 1;
}

.albums-row h3{
  padding: 10px;
}

.albums{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.album-box{
  text-align: center;
  max-width: 200px;
  font-size: 14px;
  flex-shrink: 2;
}

.imgalbum{
  display: flex;
  justify-content: center;
  position: relative;
}

.imgalbum img{
  max-height: 200px;
  max-width: auto;
  padding: 10px;
}

.imgalbum img:hover{
  filter: brightness(50%);
}

.Imghover{
  font-size: 50px;
  align-self: center;
  position: absolute;
  display: none;
}

.imgalbum:hover .Imghover{
  display: block;
}

.testo-albumbox{
  padding: 10px;
}
.testo-albumbox h4{
  padding-bottom: 10px;
}

#artisti img{
  border-radius: 100%;
}

/* **************footer****************** */


#player{
  background-color: #282828;
  height: 120px;;
  z-index: 300;
  width: 100%;
  position: fixed;
  bottom:0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

#brano-corrente, #comandi-destra{
  width: 20%;
  flex-shrink: 2;
}

#comandi-play{
  width:60%;

}

/* sinistra */
#brano-corrente{
  display: flex;
  align-items: center;
  padding: 20px;

}

#brano-corrente img{
  max-height: 50px;
  max-width: auto;
}

#brano{
  padding: 0 80px 0 20px;
  font-size: 12px;
  flex-shrink: 3;
}

#brano a{
  display: block;
}

#icons{
  flex-shrink: 3;
}

/* centro */
#comandi-play{
  padding: 20px;
  flex-shrink: 3;
}

#comandi i{
  padding-right: 20px;
}

#comandi{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-shrink: 3;
}

#tempo{
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-top: 20px;
  flex-shrink: 3;
}
#tempo span{
  padding: 0 10px;
}

#barra-progressione{
  height: 3px;
  width: 300px;
  border: solid grey;
  border: 20px;
  border-radius: 50px;
  background-color: grey;
  margin-top: 10px;
}

#barra-progr-bianca{
  height: 3px;
  width: 100px;
  border: solid white;
  border: 20px;
  border-radius: 50px;
  background-color: white;
}

/* destra */
#comandi-destra{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

#comandi-destra a{
  padding-right: 10px;
}

#barra-volume{
  height: 3px;
  width: 100px;
  border: solid grey;
  border: 20px;
  border-radius: 50px;
  background-color: grey;
  margin-top: 3px;
}

#barra-vol-bianca{
  height: 3px;
  width: 30px;
  border: solid white;
  border: 20px;
  border-radius: 50px;
  background-color: white;
}



/************ nav mobile************ */
#navmobile{
  display: none;
  width: 40px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#menu-mobile a img{
  height: 20px;
  margin-bottom: 20px;
}

#download-small{
  padding: 10px;
}
#profilo-small img{
  max-height: 20px;
  max-width: 20px;
  background-color: grey;
  border-radius: 20px;
  margin: 10px;
}


/* *************fine nav mobile******************* */
